{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Contatos</title>
    <link rel="stylesheet" href="{% static 'Contatos/css/estilo.css' %}">
</head>
<body>
    {% include 'Contatos/links.html' %}
    <h1>Lista de Contatos</h1>
    <table>
        <tr>
            <th>Nome</th>
            <th>Idade</th>
            <th>Salário</th>
            <th>Email</th>
            <th>Telefone</th>
            <th>Data de Nascimento</th>
        </tr>
        {% for pessoa in pessoas %}
        <tr>
            <td>{{ pessoa.nome }}</td>
            <td>{{ pessoa.idade }}</td>
            <td>{{ pessoa.salario }}</td>
            <td>{{ pessoa.email }}</td>
            <td>{{ pessoa.telefone }}</td>
            <td>{{ pessoa.data_nascimento }}</td>
        </tr>
        {% empty %}
        <tr>
            <th colspan="4">Ainda não tem contatos cadastrados</th>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
