{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    {% include 'Contatos/links.html' %}
    <h1>Home Page do meu site</h1>
    <p>Bem-vindo ao meu site!</p>
    <h2>Links para nossas aplicações</h2>
    <ul>
        <li><a href="{% url 'admin:index' %}">Admin</a></li>
        <li><a href="{% url 'Contatos:lista-contatos' %}">Home Page Contatos</a></li>
        <li><a href="{% url 'home-sec' %}">Área de Segurança</a></li>
        <li><a href="{% url 'formulario' %}">Formulário de Exemplo</a></li>
    </ul>
</body>
</html>
