<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperação de Senha de {{domain}}</title>
</head>
<body>
    <p>Olá {{ user.get_full_name|default:user.username }},</p>
    <p>Você solicitou para redefinição da senha da sua conta, se não fez esta solicitação ignore esta página.</p>
    <p>Por favor, acesse a seguinte página e escolha uma nova senha:</p>
    <p>
        {% url 'password_reset_confirm' uidb64=uid token=token as link %}
        <a href="{{ protocol }}://{{ domain }}{{ link }}">{{ protocol }}://{{ domain }}{{ link }}</a>
    </p>
    <p>Seu nome de usuário, caso tenha esquecido: <b>{{ user.username }}</b></p>
    <p>Obrigado por usar nosso site!</p>
    <p>Equipe {{ domain }}</p>
</body>
</html>